.bg1 {
    width:100px;
    height: 100px;
    background:url(/images/bg1.png) repeat;
    margin:10px;
}
.bg2 {
    width:100px;
    height: 100px;
    background:url(/images/bg2.png) repeat;
    margin:10px;
}

.bg3 {
    width:100px;
    height: 100px;
    background:url(/images/bg3.png) repeat;
    margin:10px;
}
.bg4 {
    width:100px;
    height: 100px;
    background:url(/images/bg4.png) repeat;
    margin:10px;
}

.bg5 {
    width:100px;
    height: 100px;
    background:url(/images/bg5.png) repeat;
    margin:10px;
}
.bg6 {
    width:100px;
    height: 100px;
    background:url(/images/bg6.png) repeat;
    margin:10px;
}

.bg7 {
    width:100px;
    height: 100px;
    background:url(/images/bg7.png) repeat;
    margin:10px;
}
.bg8 {
    width:100px;
    height: 100px;
    background:url(/images/bg8.png) repeat;
    margin:10px;
}